//index

.wrapper{
  padding-top: 70px; 
  display: flex;
  background-color:#EEEEEE;
  height: 100vh;
}

.menu{
  height:calc(100%-70px);
  background-color: rgba(170, 255, 255, 0.534);
  width: 250px;
  font-size: 30px;
  text-align: center;
  &__create{
    width: 210px;
    height:150px;
    background-color: orange;
    margin:10px 20px 20px ;
    border-radius: 1rem;
    line-height: 150px;
    font-size:25px ;
    border-style: solid;
    border-color: #bad3ff;
    a{
      text-decoration: none;
      color:black;
    }
  }
  &__cantcreate{
    width: 210px;
    height:80px;
    background-color: #dcdcdc;
    margin:10px 20px 50px ;
    font-size:25px ;
    border-style: solid;
    border-color: #bad3ff;
  }
  &__mypage{
    margin-top: 20px;
        a{
      text-decoration: none;
      color:black;
      background-color: #FFFFBB;
    }
  }
  &__search{
    width: 190px;
    font-size: 20px;
    margin:0 25px ;
  }
}


.list{
  background-color: #ffddff;
  width: calc(100% - 210px);
  &--title{
    text-align: center;
    font-size: 40px;
    
  }

  &--box{
    background-color:#ffefd5;
  height:520px;
  overflow: scroll;
  &__nothing{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: #808080;
  
  }
}
  &__a-tips{
  background-color: #ffefd5;
  width: 1000px;
  margin: 20px 50px;
  border-width: 2px;
  border-color: black;
  text-align: center;
  margin-bottom: 10px;
  .blind{
    display: none;
  }
  .show{
    display:block;
  }
  &__block{
    background-color: white;
    margin-bottom: 20px;
    border-bottom: solid;
    border-style: solid;
    
  &--title{
    font-size: 18px;
    border-bottom: solid;
  }
  &--body{
    border-bottom: solid;
    min-height:100px ;
    max-height: 350px;
    text-align: left;
    overflow: scroll;
  }
  &--url{display: flex;
    text-align: center;
    height: 30px;
    font-size: 15px;
    &--left{
      border-bottom: solid;
      border-right: solid;
      width: 300px;
    }
    &--right{
      width: 700px;
      border-bottom: solid;
      overflow: scroll;
      &--link{
        width: 650px;
        margin: 0 25px;
        max-height: 30px;
        text-overflow: ellipsis;
        a{
          color:blue;
          text-decoration: none;
        }      
  
      }
    }
   }
  &--menu{
    display: flex;
    text-align: center;
    border-bottom: solid;
  &--date{
    width: 600px;
    border-right: solid;
  }
  &--edit{
    width: 200px;
    border-right: solid;
    a{
      color:blue;
      text-decoration: none;
    }      

  }
  &--delete{
    width: 200px;
    a{
      color:blue;
      text-decoration: none;
    }      

  }
  }
  &--open{
    font-size:15px;
    height: 20px;
    line-height: 20px;
    border: none;
    width: 995px;
  }
  &--close{
    font-size:15px;
    height: 20px;
    line-height: 20px;
    border: none;
    width: 995px;
  }

}
}
}

.create{
  padding-top: 70px;
  text-align: center;
  background-color: #ffe4e1;
  height:100vh;
  &--title{
    font-size: 35px;

  }
}
.pages{text-align: center;
font-size: 30px;
color: white;
a{
  color:blue;
  text-decoration: none;
}
}

.search-input{
  width: 210px;
}

.search-btn{
  width: 100px;
  height: 25px;
}
.none{
  display: none;
}
