.menu 
 -if user_signed_in?
  =button_to '新しく作る',new_memo_path,method: :get,class:'menu__create'
 - else
  .menu__cantcreate
   ログインしてメモ作成をしよう！
 .menu__search
  = form_with(url: search_memos_path,local: true, method: :get) do |fo|
   = fo.text_field  :keyword, placeholder: "単語で検索する", class: "search-input"
   %label.menu__search
    %button.search-btn
     検索する
    = fo.submit "検索", class: "search-btn none"
 .menu__mypage
  =link_to 'マイページへ',user_path(current_user)

