.header
 .header__title
  =link_to 'TIPS',memos_path
 .header__menu
  - if user_signed_in?
   .header__menu--user-name
    #{current_user.nickname}
   .header__menu__user-logout
    =link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
   .header__menu--user-name
    ようこそゲストさん
   .header__menu--user-new
    = link_to "ログイン", new_user_session_path
   .header__menu__user-logout
    = link_to "新規会員登録", new_user_registration_path


  -# %ul.nav-right
  -#   - if user_signed_in?
  -#     %li.nav-right__content.nav-right__content--in
  -#       = link_to user_path(current_user), class: "header-link mypage-link" do
  -#         = image_tag current_user.image.url, class: "mypage-link__image" 
  -#         %p #{current_user.nickname}
  -#   - else
  -#     %li.nav-right__content.nav-right__content--out
  -#       = link_to "ログイン", new_user_session_path, class: "header-link"
  -#     %li.nav-right__content.nav-right__content--new
  -#       = link_to "新規会員登録", new_user_registration_path, class: "header-link"
